<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <title>HustleEd</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/feather.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.min.css}">
    <link rel="stylesheet" th:href="@{/css/lc_lightbox.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}">
    <link rel="stylesheet" th:href="@{/css/select.bootstrap5.min.css}">
    <link rel="stylesheet" th:href="@{/css/dropzone.css}">
    <link rel="stylesheet" th:href="@{/css/scrollbar.css}">
    <link rel="stylesheet" th:href="@{/css/datepicker.css}">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" class="skin" th:href="@{/css/skins-type/skin-4.css}">
</head>

<body>

<!--Page Loader-->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div>
</div>

<div class="page-wraper">
    <!-- Header Section including Main Menu -->
    <header  class="site-header header-style-3 mobile-sider-drawer-menu">
        <div class="pattern-layer" style="background-image:url(images/resource/shape-1.png)"></div>

        <div class="sticky-header main-bar-wraper  navbar-expand-lg">

            <div class="main-bar">

                <div class="container-fluid clearfix">

                    <div class="logo-header">
                        <div class="logo-header-inner logo-header-one">
                            <a href="index.html">
                                <img src="images/HustlEd.svg" alt="">
                            </a>
                        </div>
                    </div>



                    <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar icon-bar-first"></span>
                        <span class="icon-bar icon-bar-two"></span>
                        <span class="icon-bar icon-bar-three"></span>
                    </button>

                    <div class="nav-animation header-nav navbar-collapse collapse d-flex **justify-content-start**">

                        <ul class=" nav navbar-nav">
                            <li class="has-mega-menu"><a href="index.html">Home</a>
                            <li class="has-child"><a href="job-grid.html">Jobs</a>
                            <li class="has-child"><a href="candidate-grid.html">Candidates</a>
                            </li>
                            <li class="has-child">
                                <a href="#main-footer">About us</a>
                            </li>
                        </ul>

                    </div>


                    <div class="extra-nav header-2-nav">
                        <div class="extra-cell">
                            <div class="header-search">
                                <a href="#search" class="header-search-icon"><i class="feather-search"></i></a>
                            </div>
                        </div>
                        <div class="extra-cell">
                            <div class="header-nav-btn-section">
                                <div class="twm-nav-btn-left">
                                    <a class="twm-nav-sign-up" data-bs-toggle="modal" href="#sign_up_popup" role="button">
                                        <i class="feather-log-in"></i> Sign Up
                                    </a>
                                </div>
                                <div class="twm-nav-btn-right">
                                    <a href="dash-post-job.html" class="twm-nav-post-a-job">
                                        <i class="feather-briefcase"></i> Post a job
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>

            <div id="search">
                <span class="close"></span>
                <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                    <input class="form-control" value="" name="q" type="search" placeholder="Type to search"/>
                    <span class="input-group-append">
                            <button type="button" class="search-btn">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </span>
                </form>
            </div>
        </div>
    </header>

    <!-- Container of Page Contents-->
    <div th:replace="${content}"></div>

</div>

<!-- Footer Section -->
<!--<footer><hr><small>&copy; 2025 HustleEd</small></footer>-->
<footer class="footer-modern" id="main-footer">
    <div class="container">

        <div class="footer-top-grid">

            <div class="footer-col footer-about">
                <a href="index.html" class="footer-logo">
                    <img src="/images/HustlEd-white.svg" alt="HustlEd Logo">
                </a>
                <p>Helping you find the perfect career and connect with the best employers.</p>

                <ul class="contact-list">
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        <a href="https://maps.app.goo.gl/5yrFFn8Kwdc51dEg9">Letran Manaoag | Manaoag, Pangasinan 2430 </a>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:hustled2025@gmail.com">hustled2025@gmail.com</a>
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <a href="tel:092417612512">092417612512</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col">
                <h3 class="footer-title">For Candidates</h3>
                <ul class="footer-links">
                    <li><a href="job-list.html">Jobs Dashboard</a></li>
                    <li><a href="https://www.youtube.com/watch?v=uF4gZa3mBlE">OJT Tips</a></li>
                    <li><a href="https://ph.prosple.com/campus/5-best-practices-to-prepare-for-your-next-ojt">Best Practices on OJT</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3 class="footer-title">For Employers</h3>
                <ul class="footer-links">
                    <li><a href="dash-post-job.html">Post a Job</a></li>
                    <li><a href="employer-list.html">Browse Employers</a></li>
                    <li><a href="employer-detail.html">Employer Detail</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h3 class="footer-title">Resources</h3>
                <ul class="footer-links">
                    <li><a href="about-1.html">About Us</a></li>
                    <li><a href="faq.html">FAQs</a></li>
                    <li><a href="dash-my-profile.html">My Profile</a></li>
                </ul>
            </div>

        </div>

        <div class="footer-bottom-info">
            <span class="copyrights-text">Copyright &copy; 2025 by BSIT 4 | Block 1 of Letran - Manaoag. All Rights Reserved.</span>

            <ul class="social-icons">
                <li><a href="javascript:void(0);" aria-label="Facebook" class="fab fa-facebook-f"></a></li>
                <li><a href="javascript:void(0);" aria-label="Twitter" class="fab fa-twitter"></a></li>
                <li><a href="javascript:void(0);" aria-label="Instagram" class="fab fa-instagram"></a></li>
                <li><a href="javascript:void(0);" aria-label="YouTube" class="fab fa-youtube"></a></li>
            </ul>
        </div>

    </div>
</footer>
<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

<!--Modals Section-->
<div id="register-modal-container"></div>
<div id="login-modal-container"></div>


<!-- Javascripts Section-->
<script  th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script  th:src="@{/js/popper.min.js}"></script>
<script  th:src="@{/js/bootstrap.min.js}"></script>
<script  th:src="@{/js/magnific-popup.min.js}"></script>
<script  th:src="@{/js/waypoints.min.js}"></script>
<script  th:src="@{/js/counterup.min.js}"></script>
<script  th:src="@{/js/waypoints-sticky.min.js}"></script>
<script  th:src="@{/js/isotope.pkgd.min.js}"></script>
<script  th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<script  th:src="@{/js/owl.carousel.min.js}"></script>
<script  th:src="@{/js/theia-sticky-sidebar.js}"></script>
<script  th:src="@{/js/lc_lightbox.lite.js}" ></script>
<script  th:src="@{/js/bootstrap-select.min.js}"></script>
<script  th:src="@{/js/dropzone.js}"></script>
<script  th:src="@{/js/jquery.scrollbar.js}"></script>
<script  th:src="@{/js/bootstrap-datepicker.js}"></script>
<script  th:src="@{/js/jquery.dataTables.min.js}"></script>
<script  th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
<script  th:src="@{/js/chart.js}"></script>
<script  th:src="@{/js/bootstrap-slider.min.js}"></script>
<script  th:src="@{/js/swiper-bundle.min.js}"></script>
<script  th:src="@{/js/custom.js}"></script>

<script>

    //Pre Load Event
    document.addEventListener("DOMContentLoaded", function () {
        // Preload Register Modal
        fetch("/modal/register")
            .then(res => res.text())
            .then(html => {
                document.getElementById("register-modal-container").innerHTML = html;
            });

        // Preload Login Modal
        fetch("/modal/login?fromRegister=false")
            .then(res => res.text())
            .then(html => {
                document.getElementById("login-modal-container").innerHTML = html;
            });

    });

</script>

<script th:inline="javascript">
    let showLogin = [[${showLogin}]];
    if (showLogin) {
        fetch("/modal/login?fromRegister=true")
            .then(res => res.text())
            .then(html => {
                document.getElementById("login-modal-container").innerHTML = html;
                const modal = new bootstrap.Modal(document.getElementById("log_in_popup"));
                modal.show();
            });
    }
</script>

</body>
</html>
