<!-- fragments/login-modal.html -->
<div th:fragment="loginModal">
    <div class="modal fade twm-sign-up" id="log_in_popup" aria-hidden="true" aria-labelledby="log_in_popupLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div th:if="${loginError}" class="alert alert-danger" role="alert" th:text="${loginError}"></div>
                <form th:action="@{/login}" method="post">
                    <div class="modal-header">
                        <h2 class="modal-title" id="log_in_popupLabel" th:text="${loginHeader}">Login</h2>
                        <p>Login and get access to all the features of HustlEd</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <input name="username" type="text" class="form-control" placeholder="Username*" required>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <input name="password" type="password" class="form-control" placeholder="Password*" required>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me">
                                    <label class="form-check-label rem-forgot" for="rememberMe">Remember me <a href="#">Forgot Password</a></label>
                                </div>
                            </div>
                            name="remember-me"
                            <div class="col-md-12">
                                <button type="submit" class="site-button">Log in</button>
                                <div class="mt-3 mb-3">Don't have an account?
                                    <button class="twm-backto-login" data-bs-toggle="modal" data-bs-target="#sign_up_popup" data-bs-dismiss="modal">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>