<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::body})}">


<body>


<!-- CONTENT START -->
<div class="page-content">

    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/banner/1.jpg);">
        <div class="overlay-main site-bg-white opacity-01"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="wt-title">Candidate Saved Jobs</h2>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->

                <div>
                    <ul class="wt-breadcrumb breadcrumb-style-2">
                        <li><a href="index.html">Home</a></li>
                        <li>Candidate Saved Jobs</li>
                    </ul>
                </div>

                <!-- BREADCRUMB ROW END -->
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->


    <!-- OUR BLOG START -->
    <div class="section-full p-t120  p-b90 site-bg-white">


        <div class="container">
            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-12 rightSidebar m-b30">

                    <div class="side-bar-st-1">

                        <div class="twm-candidate-profile-pic">

                            <img src="images/user-avtar/pic4.jpg" alt="">
                            <div class="upload-btn-wrapper">

                                <div id="upload-image-grid"></div>
                                <button class="site-button button-sm">Upload Photo</button>
                                <input type="file" name="myfile" id="file-uploader" accept=".jpg, .jpeg, .png">
                            </div>

                        </div>
                        <div class="twm-mid-content text-center">
                            <a href="candidate-detail.html" class="twm-job-title">
                                <h4>Randall Henderson </h4>
                            </a>
                            <p>IT Contractor</p>
                        </div>

                        <div class="twm-nav-list-1">
                            <ul>
                                <li class="active"><a th:href="@{/candidate-profile}"><i class="fa fa-user"></i> My Profile</a></li>
                                <li><a th:href="@{/candidate-chat}"><i class="fa fa-comments"></i>Messages</a></li>
                                <li><a th:href="@{/candidate-my-resume}"><i class="fa fa-receipt"></i> My Resume</a></li>
                                <li><a th:href="@{/candidate-jobs-applied}"><i class="fa fa-suitcase"></i> Applied Jobs</a></li>
                                <li><a th:href="@{/candidate-saved-jobs}"><i class="fa fa-file-download"></i> Saved Jobs</a></li>
                                <li><a th:href="@{/candidate-change-password}"><i class="fa fa-fingerprint"></i> Change Password</a></li>

                            </ul>
                        </div>

                    </div>

                </div>

                <div class="col-xl-9 col-lg-8 col-md-12 m-b30">
                    <!--Filter Short By-->
                    <div class="twm-right-section-panel candidate-save-job site-bg-gray">
                        <div class="twm-D_table table-responsive">
                            <table id="jobs_bookmark_table" class="table table-bordered twm-candidate-save-job-list-wrap">
                                <thead>
                                <tr>
                                    <th>Job Title</th>
                                    <th>Company</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--1-->
                                <tr>
                                    <td>
                                        <div class="twm-candidate-save-job-list">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                    <img src="images/jobs-company/pic1.jpg" alt="#">
                                                </div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="#" class="twm-job-title">
                                                    <h4>Senior Web Designer</h4>
                                                </a>

                                            </div>

                                        </div>
                                    </td>
                                    <td><a href="javascript:;">Herbal Ltd</a></td>
                                    <td>
                                        <div>28/06/2023</div>
                                    </td>

                                    <td>
                                        <div class="twm-table-controls">
                                            <ul class="twm-DT-controls-icon list-unstyled">
                                                <li>
                                                    <a data-bs-toggle="modal" href="#saved-jobs-view" role="button" class="custom-toltip">
                                                        <span class="fa fa-eye"></span>
                                                        <span class="custom-toltip-block">Veiw</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <button title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                                                        <span class="far fa-trash-alt"></span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <!--2-->
                                <tr>
                                    <td>
                                        <div class="twm-candidate-save-job-list">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                    <img src="images/jobs-company/pic2.jpg" alt="#">
                                                </div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="#" class="twm-job-title">
                                                    <h4>Sr. Rolling Stock Technician</h4>
                                                </a>

                                            </div>

                                        </div>
                                    </td>
                                    <td><a href="javascript:;">Dot Circle PVT Ltd</a></td>
                                    <td>
                                        <div>28/06/2023</div>
                                    </td>

                                    <td>
                                        <div class="twm-table-controls">
                                            <ul class="twm-DT-controls-icon list-unstyled">
                                                <li>
                                                    <a data-bs-toggle="modal" href="#saved-jobs-view" role="button" class="custom-toltip">
                                                        <span class="fa fa-eye"></span>
                                                        <span class="custom-toltip-block">Veiw</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <button title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                                                        <span class="far fa-trash-alt"></span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <!--3-->
                                <tr>
                                    <td>
                                        <div class="twm-candidate-save-job-list">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                    <img src="images/jobs-company/pic3.jpg" alt="#">
                                                </div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="#" class="twm-job-title">
                                                    <h4>IT Department Manager</h4>
                                                </a>

                                            </div>

                                        </div>
                                    </td>
                                    <td><a href="javascript:;">Microsoft solution</a></td>
                                    <td>
                                        <div>28/06/2023</div>
                                    </td>

                                    <td>
                                        <div class="twm-table-controls">
                                            <ul class="twm-DT-controls-icon list-unstyled">
                                                <li>
                                                    <a data-bs-toggle="modal" href="#saved-jobs-view" role="button" class="custom-toltip">
                                                        <span class="fa fa-eye"></span>
                                                        <span class="custom-toltip-block">Veiw</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <button title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                                                        <span class="far fa-trash-alt"></span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <!--4-->
                                <tr>
                                    <td>
                                        <div class="twm-candidate-save-job-list">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                    <img src="images/jobs-company/pic4.jpg" alt="#">
                                                </div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="#" class="twm-job-title">
                                                    <h4>Art Production Specialist</h4>
                                                </a>

                                            </div>

                                        </div>
                                    </td>
                                    <td><a href="javascript:;">Coderbotics solutions</a></td>
                                    <td>
                                        <div>28/06/2023</div>
                                    </td>

                                    <td>
                                        <div class="twm-table-controls">
                                            <ul class="twm-DT-controls-icon list-unstyled">
                                                <li>
                                                    <a data-bs-toggle="modal" href="#saved-jobs-view" role="button" class="custom-toltip">
                                                        <span class="fa fa-eye"></span>
                                                        <span class="custom-toltip-block">Veiw</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <button title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                                                        <span class="far fa-trash-alt"></span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <!--5-->
                                <tr>
                                    <td>
                                        <div class="twm-candidate-save-job-list">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                    <img src="images/jobs-company/pic5.jpg" alt="#">
                                                </div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="#" class="twm-job-title">
                                                    <h4>Recreation & Fitness Worker</h4>
                                                </a>

                                            </div>

                                        </div>
                                    </td>
                                    <td><a href="javascript:;">Galaxy IT Solution</a></td>
                                    <td>
                                        <div>28/06/2023</div>
                                    </td>

                                    <td>
                                        <div class="twm-table-controls">
                                            <ul class="twm-DT-controls-icon list-unstyled">
                                                <li>
                                                    <a data-bs-toggle="modal" href="#saved-jobs-view" role="button" class="custom-toltip">
                                                        <span class="fa fa-eye"></span>
                                                        <span class="custom-toltip-block">Veiw</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <button title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                                                        <span class="far fa-trash-alt"></span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <!--6-->
                                <tr>
                                    <td>
                                        <div class="twm-candidate-save-job-list">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                    <img src="images/jobs-company/pic1.jpg" alt="#">
                                                </div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="#" class="twm-job-title">
                                                    <h4>Senior Web Designer</h4>
                                                </a>

                                            </div>

                                        </div>
                                    </td>
                                    <td><a href="javascript:;">Robo Tech</a></td>
                                    <td>
                                        <div>28/06/2023</div>
                                    </td>

                                    <td>
                                        <div class="twm-table-controls">
                                            <ul class="twm-DT-controls-icon list-unstyled">
                                                <li>
                                                    <a data-bs-toggle="modal" href="#saved-jobs-view" role="button" class="custom-toltip">
                                                        <span class="fa fa-eye"></span>
                                                        <span class="custom-toltip-block">Veiw</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <button title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                                                        <span class="far fa-trash-alt"></span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <!--7-->
                                <tr>
                                    <td>
                                        <div class="twm-candidate-save-job-list">
                                            <div class="twm-media">
                                                <div class="twm-media-pic">
                                                    <img src="images/jobs-company/pic2.jpg" alt="#">
                                                </div>
                                            </div>
                                            <div class="twm-mid-content">
                                                <a href="#" class="twm-job-title">
                                                    <h4>Sr. Rolling Stock Technician</h4>
                                                </a>

                                            </div>

                                        </div>
                                    </td>
                                    <td><a href="javascript:;">Wins Developers</a></td>
                                    <td>
                                        <div>28/06/2023</div>
                                    </td>

                                    <td>
                                        <div class="twm-table-controls">
                                            <ul class="twm-DT-controls-icon list-unstyled">
                                                <li>
                                                    <a data-bs-toggle="modal" href="#saved-jobs-view" role="button" class="custom-toltip">
                                                        <span class="fa fa-eye"></span>
                                                        <span class="custom-toltip-block">Veiw</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <button title="Delete" data-bs-toggle="tooltip" data-bs-placement="top">
                                                        <span class="far fa-trash-alt"></span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Job Title</th>
                                    <th>Company</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- OUR BLOG END -->



</div>
<!-- CONTENT END -->




</body>

</html>
