<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::body})}">




<body>


<!-- CONTENT START -->
<div class="page-content">

    <!-- INNER PAGE BANNER -->
    <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(images/banner/1.jpg);">
        <div class="overlay-main site-bg-white opacity-01"></div>
        <div class="container">
            <div class="wt-bnr-inr-entry">
                <div class="banner-title-outer">
                    <div class="banner-title-name">
                        <h2 class="wt-title">Transaction History</h2>
                    </div>
                </div>
                <!-- BREADCRUMB ROW -->

                <div>
                    <ul class="wt-breadcrumb breadcrumb-style-2">
                        <li><a href="index.html">Home</a></li>
                        <li>Transaction History</li>
                    </ul>
                </div>

                <!-- BREADCRUMB ROW END -->
            </div>
        </div>
    </div>
    <!-- INNER PAGE BANNER END -->


    <!-- OUR BLOG START -->
    <div class="section-full p-t120  p-b90 site-bg-white">


        <div class="container">
            <div class="row">

                <div class="col-xl-3 col-lg-4 col-md-12 rightSidebar m-b30">

                    <div class="side-bar-st-1">

                        <div class="twm-candidate-profile-pic">

                            <img src="images/jobs-company/pic1.jpg" alt="">
                            <div class="upload-btn-wrapper">

                                <div id="upload-image-grid"></div>
                                <button class="site-button button-sm">Upload Photo</button>
                                <input type="file" name="myfile" id="file-uploader" accept=".jpg, .jpeg, .png">
                            </div>

                        </div>

                        <div class="twm-mid-content text-center">
                            <a href="candidate-detail.html" class="twm-job-title">
                                <h4>Artistre Studio PVT Ltd</h4>
                            </a>
                            <p>IT Contractor</p>
                        </div>

                        <div class="twm-nav-list-1">
                            <ul>
                                <li class="active"><a th:href="@{/employer-profile}">><i class="fa fa-user"></i> Company Profile</a></li>
                                <li><a th:href="@{/candidate-chat}"><i class="fa fa-comments"></i>Messages</a></li>
                                <li><a th:href="@{/employer-manage-jobs}"><i class="fa fa-suitcase"></i> Manage Jobs</a></li>
                                <li><a th:href="@{/employer-transaction}"><i class="fa fa-credit-card"></i>Transaction</a></li>
                                <li><a th:href="@{/candidate-grid}"><i class="fa fa-user-check"></i> List of Candidates</a></li>
                                <li><a th:href="@{/employer-change-password}"><i class="fa fa-fingerprint"></i> Change Passeword</a></li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="col-xl-9 col-lg-8 col-md-12 m-b30">
                    <div class="twm-right-section-panel candidate-save-job site-bg-gray">
                        <!--Filter Short By-->
                        <div class="product-filter-wrap d-flex justify-content-between align-items-center">
                            <span class="woocommerce-result-count-left">Transaction History</span>

                            <form class="woocommerce-ordering twm-filter-select" method="get">
                                <span class="woocommerce-result-count">Short By</span>
                                <select class="wt-select-bar-2 selectpicker"  data-live-search="true" data-bv-field="size">
                                    <option>Last 2 Months</option>
                                    <option>Last 1 Months</option>
                                    <option>15 days ago</option>
                                    <option>Weekly</option>
                                    <option>Yesterday</option>
                                    <option>Today</option>
                                </select>
                            </form>

                        </div>

                        <div class="table-responsive">
                            <table class="table twm-table table-striped table-borderless">
                                <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Payment Method</th>
                                    <th>Status</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td class="order-id text-primary">#123</td>
                                    <td class="job-name"><a href="javascript:void(0);">Social Media Expert</a></td>
                                    <td class="amount text-primary">$99</td>
                                    <td class="date">18/08/2023</td>
                                    <td class="transfer">Paypal</td>
                                    <td class="expired">
                                        <span class="text-clr-green2">Successful </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="order-id text-primary">#456</td>
                                    <td class="job-name"><a href="javascript:void(0);">Web Designer</a></td>
                                    <td class="amount text-primary">$199</td>
                                    <td class="date">12/07/2023</td>
                                    <td class="transfer">Bank Transfer</td>
                                    <td class="expired">
                                        <span class="text-clr-yellow">Pending</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="order-id text-primary">#789</td>
                                    <td class="job-name"><a href="javascript:void(0);">Finance Accountant</a></td>
                                    <td class="amount text-primary">$299</td>
                                    <td class="date">10/07/2023</td>
                                    <td class="transfer">Paypal</td>
                                    <td class="expired">
                                        <span class="text-clr-red">Rejects</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="order-id text-primary">#101</td>
                                    <td class="job-name"><a href="javascript:void(0);">Social Media Expert</a></td>
                                    <td class="amount text-primary">$399</td>
                                    <td class="date">28/06/2023</td>
                                    <td class="transfer">Bank Transfer</td>
                                    <td class="expired">
                                        <span class="text-clr-green2">Successful </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="order-id text-primary">#112</td>
                                    <td class="job-name"><a href="javascript:void(0);">Web Designer</a></td>
                                    <td class="amount text-primary">$499</td>
                                    <td class="date">18/06/2023</td>
                                    <td class="transfer">Paypal</td>
                                    <td class="expired">
                                        <span class="text-clr-yellow">Pending</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="order-id text-primary">#987</td>
                                    <td class="job-name"><a href="javascript:void(0);">Finance Accountant</a></td>
                                    <td class="amount text-primary">$599</td>
                                    <td class="date">12/06/2023</td>
                                    <td class="transfer">Bank Transfer</td>
                                    <td class="expired">
                                        <span class="text-clr-green2">Successful </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="order-id text-primary">#654</td>
                                    <td class="job-name"><a href="javascript:void(0);">Social Media Expert</a></td>
                                    <td class="amount text-primary">$699</td>
                                    <td class="date">10/06/2023</td>
                                    <td class="transfer">Paypal</td>
                                    <td class="expired">
                                        <span class="text-clr-green2">Successful </span>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                        <div class="pagination-outer text-right">
                            <div class="pagination-style1">
                                <ul class="clearfix">
                                    <li class="prev"><a href="javascript:;"><span> <i class="fa fa-angle-left"></i> </span></a></li>
                                    <li><a href="javascript:;">1</a></li>
                                    <li class="active"><a href="javascript:;">2</a></li>
                                    <li><a href="javascript:;">3</a></li>
                                    <li><a class="javascript:;" href="javascript:;"><i class="fa fa-ellipsis-h"></i></a></li>
                                    <li><a href="javascript:;">5</a></li>
                                    <li class="next"><a href="javascript:;"><span> <i class="fa fa-angle-right"></i> </span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- OUR BLOG END -->



</div>
<!-- CONTENT END -->



</body>

</html>
